@model IEnumerable<PublicViewModels>
@{
    ViewBag.Title = "MySensors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> My Sensors </h3>
            </div>
            <div class="panel-body">
                <div id="shieldui-grid1"></div>
            </div>
        </div>
    </div>
</div>
@section grid
        {
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
    <script type="text/javascript">
        $(function () {
            var sensors = [];
               @foreach (var m in Model)
                {

                 @:sensors.push("sensorname":"@m.SensorName" , "value":"@m.Value"})

                }

            $("#shieldui-grid1").shieldGrid({
                dataSource: {
                    data: sensors,
                    schema: {
                        fields: {
                            sensorname: { type: String },
                            value: { type: Number }
                        }
                    }
                },
                sorting: true,
                filtering: {
                    enabled: true
                },
                rowHover: true,
                paging: true,
                columns: [
                    { field: "sensorname", title: "Sensor Name" },
                    { field: "value", title: "Value" }
                ]
            });
        });
    </script>
}

