@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart Sensors</h1>
    <p class="lead">Smart Sensors is application for create, update, shared and tracked history of sensors.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Temperature Sensor</h2>
        <p>
            Temperature measured in °C.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Create sensor &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Humidity Sensor</h2>
        <p>
            Humidity sensor measure in relative humidity (in percent).
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Create sensor &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Noise sensor </h2>
        <p>Noise sensor with values in Decibels</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Create sensor &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Electric Consumption Sensor</h2>
    <p>
        Electric power consumption sensor in Watts.
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Create sensor &raquo;</a></p>
</div><div class="col-md-4">
    <h2>Occupancy sensor</h2>
    <p>
        Occupancy sensor (true or false) depending on whether there are persons or not in the measured room. True means there are persons in the room.
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Create sensor &raquo;</a></p>
</div>
    <div class="col-md-4">
        <h2>Window sensor</h2>
        <p>Window /door sensor. Measured with true/false depending whether the door is open or closed. True means the door is closed.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Create sensor &raquo;</a></p>
    </div>
    
</div>